# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

# Virtual env
.venv/
venv/
env/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Data artifacts
data/processed/*.parquet
reports/*.png
reports/*.svg
reports/*.html

# Models
models/
*.joblib
